<aside>
  <header>

  </header>
  <nav>
    <ul>
      <li routerLink="/sessions" routerLinkActive="active"><design-icon size="20" name="calendar"></design-icon>Sessions</li>
      <li routerLink="/challenges" routerLinkActive="active"><design-icon size="20" name="key"></design-icon>Challenges</li>
      <li routerLink="/directory" routerLinkActive="active"><design-icon size="20" name="users"></design-icon>Directory</li>
      <li routerLink="/resources" routerLinkActive="active"><design-icon size="20" name="book-open"></design-icon>Resources</li>
      <li routerLink="/faqs" routerLinkActive="active"><design-icon size="20" name="help-circle"></design-icon>FAQs</li>
      <li routerLink="/account" routerLinkActive="active"><design-icon size="20" name="settings"></design-icon>Account</li>
      <li routerLink="/logout" routerLinkActive="active"><design-icon size="20" name="power"></design-icon>Log out</li>
    </ul>
  </nav>
</aside>
<main>
  <h1>Main Content</h1>
  <router-outlet></router-outlet>
</main>
