<app-page back>
  <section class="content">
    <header>
      <img alt="profile picture" src="https://global-uploads.webflow.com/5e11f6f45aa398847203cef7/5e4acad116915ba10fe1643d_565e7e5a-e0bf-4306-97c8-77cf45a3602e.png">
      <div class="firstname">Norbert</div>
      <div class="lastname">Lübcke</div>
      <div class="title">Lead UX Designer</div>
      <div class="experience">12 Years of Experience</div>
      <div class="city">Berlin</div>
      <div class="info">Armenia</div>
      <div class="timezone">GMT</div>
      <a [routerLink]="'request'">
        <mafo5-button class="primary short">Request Session</mafo5-button>
      </a>
    </header>
    <mafo5-headline>About me</mafo5-headline>
    <app-info *ngIf="false">You haven't entered any info about yourself.</app-info>
    <p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus</p>
    <mafo5-headline>My Challenges</mafo5-headline>
    <app-info>You haven't posted any challenges.</app-info>
    <mafo5-headline>My Skills</mafo5-headline>
    <app-info *ngIf="false">You haven't selected any skills.</app-info>
    <p>Consulting, Design Thinking, Interaction Design, Product Design, Sketching, UI Design, Usability Testing, User Research</p>
    <mafo5-headline>What I want to learn</mafo5-headline>
    <app-info *ngIf="false">You haven't shared what you want to learn.</app-info>
    <p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus</p>
    <mafo5-headline>What I can share</mafo5-headline>
    <app-info *ngIf="false">You haven't shared what you want to share.</app-info>
    <p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus</p>
  </section>
</app-page>
