:host {
  display: grid;
  justify-items: center;
  align-items: center;
  line-height: 1rem;
  font-size: 32px;
  font-weight: 600;
  background-color: #f5f5f5;
  color: #ff9505;
  border-radius: 100%;
  text-align: center;
  width: 60px;
  height: 60px;
}
